@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #efefef; }

body {
  background-color: #fffbcf; }
  body li {
    list-style: '›'; }
  body h1, body h3, body p, body li, body span {
    font-family: 'poppins'; }
  body h1 {
    padding-top: 10px;
    font-size: 54px;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
    line-height: 0.8;
    outline: none;
    animation: texth1 5s linear infinite; }
@keyframes texth1 {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
    color: #000;
    text-shadow: none; }
  18.1%,20.1%,50%,60.1%,65.1%,80.1%,90%,92.1%,100% {
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 10px rgba(17, 17, 17, 0.534);
    text-shadow: 0 0 20px rgba(17, 17, 17, 0.534);
    text-shadow: 0 0 40px rgba(17, 17, 17, 0.534);
    text-shadow: 0 0 80px rgba(17, 17, 17, 0.534);
    text-shadow: 0 0 160px rgba(17, 17, 17, 0.534); } }
  body h3 {
    font-size: 36px;
    margin-top: auto; }
  body span {
    font-weight: 600;
    font-size: 32px; }
  body p {
    font-weight: 600;
    font-size: 20px; }
  body ul {
    margin-top: auto; }
    body ul li {
      font-weight: 500;
      font-size: 12px;
      padding-left: 10px; }
  body h2 {
    font: 700 52px/1 'poppins';
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    transition: 0.5s; }
  body .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

main {
  width: 100%;
  padding: 4vw; }
  main section {
    width: 100%; }
    main section:after {
      content: '';
      display: block;
      clear: both; }
    main section .item-init {
      width: calc(100%/6);
      height: 0px;
      opacity: 0; }
    main section .item {
      width: calc(100%/6);
      height: 30vh;
      float: left; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #111; }
      main section .item.ripple {
        position: relative;
        overflow: hidden; }
        main section .item.ripple .txt {
          position: absolute;
          display: block;
          width: 50%;
          height: 100px;
          text-align: center;
          line-height: 100px;
          margin: auto 0;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          cursor: pointer;
          color: #fff; }
        main section .item.ripple::before {
          content: '';
          cursor: none;
          position: absolute;
          top: var(--y);
          left: var(--x);
          transform: translate(-60%, -60%);
          width: 0px;
          height: 0px;
          background: #090909;
          border-radius: 50%;
          transition: width 1s, height 1s;
          z-index: 1; }
        main section .item.ripple:hover .txt {
          opacity: 1; }
        main section .item.ripple:hover::before {
          width: 500px;
          height: 500px; }
      main section .item[data-box="11"] {
        width: 33%;
        height: 45vh; }
        main section .item[data-box="11"]:hover h2 {
          -webkit-text-fill-color: unset;
          font-size: 54px; }
      main section .item[data-box="11-2"] {
        width: calc(100% / 3 );
        height: 30vh; }
        main section .item[data-box="11-2"] p {
          font: 600 12px/1 'poppins'; }
          main section .item[data-box="11-2"] p span {
            font: 500 10px/1 'poppins'; }
      main section .item[data-box="12"] {
        width: calc(100% / 6 );
        height: 70vh; }
      main section .item[data-box="12-2"] {
        width: calc(100% / 3 );
        height: 70vh; }
        main section .item[data-box="12-2"] .inner {
          border-top-width: thick; }
      main section .item[data-box="21"] {
        overflow: hidden;
        width: 50%;
        height: 30vh; }
        main section .item[data-box="21"] .inner {
          align-items: center;
          justify-content: center; }
          main section .item[data-box="21"] .inner h1 {
            transform: translateY(-50px); }
            main section .item[data-box="21"] .inner h1 span {
              font-size: 54px;
              font-weight: 700;
              color: transparent;
              -webkit-text-stroke: 2px #000; }
          main section .item[data-box="21"] .inner:hover .black {
            position: absolute;
            top: 0;
            left: 0%;
            width: 200%;
            height: 100%;
            background: #fffbcf;
            mix-blend-mode: difference; }
      main section .item[data-box="21-2"] {
        width: 50%;
        height: 40vh; }
        main section .item[data-box="21-2"] .inner {
          border-top-width: thick; }
      main section .item[data-box="22"] {
        width: 50%;
        height: 60vh; }
        main section .item[data-box="22"] canvas {
          transition: background 2s; }
        main section .item[data-box="22"]:hover canvas {
          background: #efefef4d; }
        main section .item[data-box="22"]:hover h2 {
          -webkit-text-fill-color: unset;
          font-size: 54px; }
      main section .item[data-box="31"] {
        width: calc(200% / 3 );
        height: 30vh; }
        main section .item[data-box="31"] .inner {
          border-top-width: thick;
          flex-direction: row;
          justify-content: space-between; }
          main section .item[data-box="31"] .inner li {
            padding-left: 0;
            list-style: none; }
          main section .item[data-box="31"] .inner .footer2 {
            padding-right: 50px; }
      main section .item[data-box="41"] {
        width: 100%;
        height: 80px;
        position: relative; }
        main section .item[data-box="41"] .inner {
          flex-direction: row;
          justify-content: space-between; }
        main section .item[data-box="41"] .container {
          position: relative;
          padding-left: 20px;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          main section .item[data-box="41"] .container .right {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-position: center; }
          main section .item[data-box="41"] .container .cont-txt {
            position: absolute;
            white-space: nowrap;
            font-family: 'poppins';
            animation: text 200s linear infinite;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: #090909;
            line-height: 70px; }
            main section .item[data-box="41"] .container .cont-txt:hover {
              -webkit-text-fill-color: #090909; }
@keyframes text {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
      main section .item[data-index="0"] .img {
        position: relative; }
        main section .item[data-index="0"] .img .background {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 1; }
      main section .item[data-index="1"] .img {
        background-image: url(../img/image2.jpg); }
      main section .item[data-index="2"] .inner {
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px; }
        main section .item[data-index="2"] .inner .img {
          position: absolute;
          top: 0;
          left: 0;
          background-image: url(../img/image-profile.jpg);
          filter: grayscale(70%);
          backface-visibility: hidden;
          transition: 1s; }
          main section .item[data-index="2"] .inner .img:nth-child(1) {
            transform: rotateY(0deg); }
          main section .item[data-index="2"] .inner .img:nth-child(2) {
            transform: rotateY(180deg);
            background: none; }
        main section .item[data-index="2"] .inner:hover .img:nth-child(1) {
          transform: rotateY(-180deg); }
        main section .item[data-index="2"] .inner:hover .img:nth-child(2) {
          transform: rotateY(0deg); }

@media screen and (max-width: 767px) {
  main section .item-init {
    width: 50%;
    height: 0px;
    opacity: 0; }
  main section .item {
    width: 50%;
    height: 40vh; }
    main section .item[data-box="11"] {
      width: 50%;
      height: 40vh; }
    main section .item[data-box="12"], main section .item[data-box="12-2"] {
      width: 50%;
      height: 40vh; }
    main section .item[data-box="21"] {
      width: 100%;
      height: 40vh; }
    main section .item[data-box="22"] {
      width: 100%;
      height: 80vh; }
    main section .item[data-box="31"], main section .item[data-box="41"], main section .item[data-box="11-2"] {
      width: 100%;
      height: 20vh; } }

/*# sourceMappingURL=style.css.map */
