@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #efefef; }

body {
  background-color: #fffbcf; }
  body li {
    list-style: '›'; }
  body h1, body h3, body p, body li, body span {
    font-family: 'poppins'; }
  body h1 {
    font-size: 42px; }
  body h3 {
    font-size: 36px;
    margin-top: auto; }
  body span {
    font-weight: 600;
    font-size: 32px; }
  body p {
    font-weight: 600;
    font-size: 20px; }
  body ul {
    margin-top: auto; }
    body ul li {
      font-weight: 500;
      font-size: 12px;
      padding-left: 10px; }
  body h2 {
    font: 48px/1 'archivo black'; }
  body .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

main {
  width: 100%;
  padding: 4vw; }
  main section {
    width: 100%; }
    main section:after {
      content: '';
      display: block;
      clear: both; }
    main section .item-init {
      width: calc(100%/6);
      height: 0px;
      opacity: 0; }
    main section .item {
      width: calc(100%/6);
      height: 30vh;
      float: left; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #111; }
      main section .item[data-box="11"] {
        width: calc(100% / 3 );
        height: 45vh; }
      main section .item[data-box="11-2"] {
        width: calc(100% / 3 );
        height: 30vh; }
        main section .item[data-box="11-2"] p {
          font: 600 12px/1 'poppins'; }
          main section .item[data-box="11-2"] p span {
            font: 500 10px/1 'poppins'; }
      main section .item[data-box="12"] {
        width: calc(100% / 6 );
        height: 70vh; }
      main section .item[data-box="12-2"] {
        width: calc(100% / 3 );
        height: 70vh; }
        main section .item[data-box="12-2"] .inner {
          border-top-width: thick; }
      main section .item[data-box="21"] {
        width: 50%;
        height: 30vh; }
      main section .item[data-box="21-2"] {
        width: 50%;
        height: 40vh; }
        main section .item[data-box="21-2"] .inner {
          border-top-width: thick; }
      main section .item[data-box="22"] {
        width: 50%;
        height: 60vh; }
      main section .item[data-box="31"] {
        width: calc(200% / 3 );
        height: 30vh; }
        main section .item[data-box="31"] .inner {
          border-top-width: thick;
          flex-direction: row;
          justify-content: space-between; }
          main section .item[data-box="31"] .inner li {
            padding-left: 0;
            list-style: none; }
          main section .item[data-box="31"] .inner .footer2 {
            padding-right: 50px; }
      main section .item[data-box="41"] {
        width: 100%;
        height: 20vh; }
      main section .item[data-index="0"] .img {
        position: relative; }
        main section .item[data-index="0"] .img .background {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 1; }
      main section .item[data-index="1"] .img {
        background-image: url(../img/image2.jpg); }
      main section .item[data-index="2"] .img {
        background-image: url(../img/image-profile.jpg);
        filter: grayscale(70%); }

/*# sourceMappingURL=style.css.map */
