@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;400;500;600;700;900&display=swap');

body{
   background-color: rgb(256,251,207);

   li{
      list-style: '›';
   }
   
   h1, h3, p, li ,span{
      font-family: 'poppins';
   }
   h1{
      padding-top: 10px;
      font-size: 54px;
      text-transform: uppercase;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
      line-height: 0.8;
      outline: none;
      animation : texth1 5s linear infinite;
   }
   @keyframes texth1{
      0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{color:#000; text-shadow: none;} 
      18.1%,20.1%,50%,60.1%,65.1%,80.1%,90%,92.1%,100%{
      color: rgba(0, 0, 0, 0.9); text-shadow: 0 0 10px rgba(17, 17, 17, 0.534);
      text-shadow: 0 0 20px rgba(17, 17, 17, 0.534);
      text-shadow: 0 0 40px rgba(17, 17, 17, 0.534);
      text-shadow: 0 0 80px rgba(17, 17, 17, 0.534);
      text-shadow: 0 0 160px rgba(17, 17, 17, 0.534);}
   }
   h3{
      font-size: 36px;
      margin-top: auto;
   }
   span{
      font-weight: 600;
      font-size: 32px;
   }
   p{
      font-weight: 600;
      font-size: 20px;
   }
   ul{
      margin-top: auto;
      li{
         font-weight: 500;
         font-size: 12px;
         padding-left: 10px;
      }
   }
   h2{
      position: absolute;
      font: 700 52px/1 'poppins';
      letter-spacing: 2px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px;
      transition: 0.5s;
      z-index: 5;
   }
   .img{
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   #map{
      width: 100%;
      height: 100%;
      z-index: 2;
   }
}
main{
   width: 100%;
   padding: 4vw;

   section{
      width: 100%;

      &:after{
         content: '';
         display: block;
         clear: both;
      }

      .item-init{
         width: calc(100%/6);
         height: 0px;
         opacity: 0;
      }
      
      .item{
         width: calc(100%/6);
         height: 30vh;
         // padding: 5px;
         float: left;

         .inner{
            width: 100%;
            height: 100%;
            padding: 5px;
            // box-shadow: 5px 5px 20px rgba(0,0,0,.1);

            display: flex;
            flex-direction: column;

            border-top: 1px solid #111;


         }
         &.ripple{
            position: relative;
            overflow: hidden;
            .txt{
               position: absolute;
               display: block;
               width: 50%;
               height: 100px;
               text-align: center;
               line-height: 100px;
               margin: auto 0;
               z-index: 1;
               top: 50%; left: 50%; transform: translate(-50%, -50%);
               opacity: 0;
               cursor: pointer;
               color: #fff;

            }
            &::before{
               content: '';
               cursor: none;
               position: absolute;
               top: var(--y); left: var(--x); 
               transform: translate(-60%, -60%);
               width: 0px; height: 0px; 
               background: rgb(9,9,9);
               border-radius: 50%;
               transition: width 1s, height 1s;
               z-index: 1;
            }
            
            &:hover{
               .txt{
                  opacity: 1;
               }
               &::before{
                  width: 500px; height: 500px;
               }
            }
         }

         &[data-box="11"]{
            // width: calc(100% / 3 );
            width: 33%;
            height: 45vh;
            &:hover h2{
               -webkit-text-fill-color: unset;
               font-size: 54px;
            }
         }
         &[data-box="11-2"]{
            width: calc(100% / 3 );
            // width: 30%;
            height: 30vh;
            p{
               font: 600 12px/1 'poppins';
               span{
               
                  font: 500 10px/1 'poppins';
               }
            }
            
         }
         &[data-box="12"]{
            width: calc(100% / 6 );
            height: 70vh;
         }
         &[data-box="12-2"]{
            width: calc(100% / 3 );
            height: 70vh;
            .inner{
               border-top-width: thick;
            }
         }
         &[data-box="21"]{
            overflow: hidden;
            .inner{
               align-items: center;
               justify-content: center;
               h1{
                  transform: translateY(-50px);
                  span{
                     font-size: 54px;
                     font-weight: 700;
                     color: transparent;
                     -webkit-text-stroke: 2px #000;
                  }
               }
               &:hover{
                  .black{
                     position: absolute;
                     top: 0;
                     left: 0%;
                     width: 200%;
                     height: 100%;
                     background: rgb(256,251,207);
                     mix-blend-mode: difference;
                  }
               }
            }
            width: 50%;
            height: 30vh;
            
         }
         &[data-box="21-2"]{
            width: 50%;
            height: 40vh;
            .inner{
               border-top-width: thick;
            }


         }
         &[data-box="22"]{
            width: 50%;
            height: 60vh;
            canvas{
               transition: background 2s;
            }
            &:hover {
               canvas{
                  background: #efefef4d;
               }
               h2{
                  -webkit-text-fill-color: unset;
                  font-size: 54px;
               }

            }
         }
         &[data-box="31"]{
            width: calc(200% / 3 );
            height: 30vh;
            .inner{
               border-top-width: thick;
               flex-direction:row;
               justify-content: space-between;
               li{
                  padding-left: 0;
                  list-style: none;
               }
               .footer2{
                  padding-right: 50px;
               }
            }
         }
         &[data-box="41"]{
            width: 100%;
            height: 80px;
            position: relative;
            .inner{
               flex-direction: row;              justify-content: space-between;
            }

            .container{
               position: relative;
               padding-left: 20px;
               width: 100%;
               height: 100%;
               overflow: hidden;

               .right{
                  position: relative;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  background-position: center;
               }
               .cont-txt{
                  position: absolute;
                  white-space: nowrap;
                  font-family: 'poppins';
                  animation: text 200s linear infinite;
                  -webkit-text-fill-color: transparent;
                  -webkit-text-stroke: 1px;
                  -webkit-text-stroke-color: rgb(9,9,9);
                  line-height: 70px;

                  &:hover{
                     -webkit-text-fill-color: rgb(9,9,9);
                  }
               }
            }
         }

         @keyframes text{
            0%{transform: translateX(0);}
            100%{transform: translateX(-100%);}
         }

         //사진 데이터 인덱스
         &[data-index="0"]{
            .img{
               position: relative;
               .background{
                  position: absolute;
                  display: block;
                  top: 0;
                  left: 0;
                  z-index: 1;
               }
            }
         }
         &[data-index="1"]{
            .img{
               background-image: url(../img/image2.jpg);
            }
         }
         &[data-index="2"]{
            .inner{
               position: relative;
               transform-style: preserve-3d;
               perspective: 1000px;

               .img{
                  position: absolute;
                  top: 0; left: 0;
                  background-image: url(../img/image-profile.jpg);
                  filter: grayscale(70%);
                  backface-visibility: hidden;
                  transition: 1s;
   
                  &:nth-child(1){
                     transform: rotateY(0deg);
                  }
                  &:nth-child(2){
                     transform: rotateY(180deg);
                     // background: rgb(256,251,207);
                     background: none;
                  }

               }
               &:hover .img{
                  &:nth-child(1){
                     transform: rotateY(-180deg);
                  }
                  &:nth-child(2){
                     transform: rotateY(0deg);
                  }
               }
            }
            
            // >.inner{
            //    justify-content: center;
            //    align-items: center;
            // }
            // .circle{
            //    position: relative; 
            //    width: 100%; height: 100%;
            //    // background-color: red;
            //    border-radius: 50%;
            //    display: flex;
            //    justify-content: center;
            //    align-items: center;
            // }
            // .img{
            //    position: absolute;
            //    width: 75%; height: 75%; 
            //    background-image: url(../img/image-profile.jpg);
            //    border-radius: 50%;
            //    filter: grayscale(70%);
            // }
            // .text{
            //    position: absolute;
            //    width: 100%;
            //    height: 100%;
            //    animation: rotateText 45s linear infinite;
            //    .circle_txt{
            //       position: absolute;
            //       font: 400 14px/1 'poppoins';
            //       -webkit-text-fill-color: transparent;
            //       -webkit-text-stroke: 1px;
            //       left: 50%;
            //       font-size: 20px;
            //       transform-origin: 0 150px;
            //    }
            // }
            // @keyframes rotateText{
            //    0%{transform:rotate(360deg)}
            // }
         }
         &[data-index="11-3"]{
            h2{
               position: absolute;
               font: 700 54px/1 'poppins';
               letter-spacing: 2px;
               -webkit-text-fill-color: #111;
               transition: 0.5s;
               z-index: 5;
            }
            &:hover h2{
               -webkit-text-fill-color: transparent;
               -webkit-text-stroke: 2px;
               font-size: 52px;
            }
         }
      }
   }
}

@media screen and (max-width: 767px){
   main section{
      .item-init{
         width: 50%;
         height: 0px;
         opacity: 0;
      }

      .item{
         width: 50%;
         height: 40vh;

         &[data-box="11"]{
            width: 50%;
            height: 40vh;
         }
         &[data-box="12"],&[data-box="12-2"]{
            width: 50%;
            height: 40vh;
         }
         &[data-box="21"]{
            width: 100%;
            height: 40vh;
         }
         &[data-box="22"]{
            width: 100%;
            height: 80vh;
         }
         &[data-box="31"],&[data-box="41"],&[data-box="11-2"]{
            width: 100%;
            height: 20vh;
         }
      }
   }
}
